body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #007700;
    font-family: Arial, sans-serif;
    color: white;
}

#gameContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px #000;
    width: 90%;
    margin: 20px auto;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 64px); /* Create a 3x3 grid */
    gap: 40px; /* Space between cards */
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.card {
    width: 64px;
    height: 64px;
    position: relative;
    justify-content: center;
    background-size: cover;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    transform: scale(2);
    cursor: pointer;
    margin: 20px 0;
}

.card.selected {
    transform: scale(2.3);  /* Slightly enlarge the selected card */
}

.card:hover {
    transform: scale(2.3);
    transition: transform 0.1s;
}
.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    overflow: hidden;
}

.controls {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    flex-wrap: wrap; /* Allow buttons to wrap on small screens */
    gap: 10px; /* Space between buttons */
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 20px;
    background-color: #28a745;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

.deck-container {
    width: 64px; /* Match card width */
    height: 64px; /* Match card height */
    background: url('assets/images/card_back.png') center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-right: 50px;
    transform: scale(2);
}

.deck-count {
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

#messageArea {
    flex: 1 100%;
    text-align: center;
    padding-top: 20px;
}
